API.env
/Documentation/good questions.txt
/Documentation/list-of-changes.txt
/Documentation/Manual - Section 1 - Installation.docx
/Documentation/Manual - Section 2 - Configuration.docx
/Documentation/Manual - Section 3 - For Developers.docx
/Documentation/Manual - Section 4 - query.js.docx
/Documentation/Manual - Section 5 - smartFunctions.js.docx
/Documentation/UCC-Michigan.pdf
/data/Tokens_CCCN.xlsx